<div ng-controller="OrderCtrl as oc" class="row">
    <div class="form-group">
        <h3>
            Orders
        </h3>
        <hr>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Users...">
        <hr>
    </div>


    <table id="order_list" class="table table-striped">
        <thead>
        <tr>
            <th>Product name</th>
            <th>Number</th>
            <th>Email</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ord in oc.orders | filter:searchText">
            <td>
                <ul ng-repeat="ordprod in ord | filter:searchText">
                    <li>
                        {{ ordprod.key}}
                    </li>
                    <li>
                        {{ ordprod.value}}
                    </li>
                </ul>
            </td>
            <td>
                {{ ord.email}}
            </td>
            <td>
                {{ ord.timestamp }}
            </td>
        </tr>
        <tr ng-hide="oc.orders.length">
            <td colspan="3">
                <p class="text-center">No Orders Found</p>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>
    <h4>Debug:</h4>
    <pre>{{ oc.orders | json }}</pre>
</div>
<div class="row">
    <div ng-controller="CreateOrderCtrl as coc">
        <h1>Create Order</h1>

        <form id="CreateOrderForm" name="CreateOrderForm" class="form-horizontal" role="form"
              ng-submit="coc.createOrder()">
            <legend class="sm-col-12">Basic Information</legend>

            <div class="form-group">
                <label id="lbl_product" class="col-sm-4 control-label">Products</label>

                <div class="col-sm-8" ng-controller="ProductCtrl as pc" ng-repeat="product in pc.order.products">
                    <!--<input type="text" class="form-control" name="product" id="product" placeholder=""-->
                           <!--ng-model="coc.order.product">-->
                    {{product.name}} - {{product.number}}
                </div>
                <input type="hidden" value="{{pc.order.products}}" ng-model="coc.order.products"/>
            </div>

            <div class="form-group">
                <label id="lbl_email" for="email" class="col-sm-4 control-label">email</label>

                <div class="col-sm-8">
                    <input type="email" class="form-control" name="email" id="email" placeholder=""
                           ng-model="coc.order.email">
                </div>
            </div>


            <pre>{{ coc.order | json }}</pre>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8 text-right">
                    <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                    <button type="submit" class="btn btn-success" id="btn_create">Create Order</button>
                </div>
            </div>


        </form>
    </div>
</div>

