

    <div class="row" ng-controller="ProductCtrl as pc">
        &NonBreakingSpace;
        <div class="jumbotron">
            <h2>Ludmila</h2>

            <p class="pull-right">...</p>
        </div>


        <div class="row">
            <div class="form-group">
                <h3>
                    Products
                    <!--<a ng-href="/#/order/create" class="btn btn-primary pull-right" id="btn_order_create">Order</a>-->
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Users...">
                <hr>
            </div>

            <form ng-submit="pc.prepareOrder()">
            <table id="product_list" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Price</th>
                    <th>Number</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="prd in pc.products | filter:searchText">
                    <td>
                        {{ prd.name }}
                        <!--<input type="hidden" value="{{ prd.name }}" ng-model="orderItem.name"/>-->
                    </td>
                    <td>
                        {{ prd.weight }}
                    </td>
                    <td>
                        {{ prd.price }}
                    </td>
                    <td>
                        <input class="form-control" type="number" ng-model="prd.number"/>
                    </td>
                </tr>
                <tr ng-hide="pc.products.length">
                    <td colspan="3">
                        <p class="text-center">No Products Found</p>
                    </td>
                </tr>
                </tbody>
            </table>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 text-right">
                        <button type="submit" class="btn btn-success" id="ord_create">Create Order</button>
                    </div>
                </div>

            </form>

            <hr>
            <h4>Debug:</h4>
            <pre>{{ pc.products | json }}</pre>
        </div>

    </div>

    <div class="row">
        <div ng-controller="CreateProductCtrl as cpc">
            <h1>Create Product</h1>

            <form id="CreateProductForm" name="CreateProductForm" class="form-horizontal" role="form"
                  ng-submit="cpc.createProduct()">
                <legend class="sm-col-12">Basic Information</legend>

                <div class="form-group">
                    <label id="lbl_name" for="name" class="col-sm-4 control-label">Name</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name" id="name" placeholder=""
                               ng-model="cpc.product.name">
                    </div>
                </div>

                <div class="form-group">
                    <label id="lbl_weight" for="weight" class="col-sm-4 control-label">Weight</label>

                    <div class="col-sm-8">
                        <input type="number" class="form-control" name="weight" id="weight" placeholder=""
                               ng-model="cpc.product.weight">
                    </div>
                </div>

                <div class="form-group">
                    <label id="lbl_price" for="price" class="col-sm-4 control-label">Price</label>

                    <div class="col-sm-8">
                        <input type="number" class="form-control" name="price" id="price"
                               ng-model="cpc.product.price">
                    </div>
                </div>

                <pre>{{ cpc.product | json }}</pre>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 text-right">
                        <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                        <button type="submit" class="btn btn-success" id="btn_create">Create Product</button>
                    </div>
                </div>


            </form>
        </div>
    </div>

